/* 1. Scaffolding */
.list-unstyled {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1; /* Pushes the footer down */
}

.mt-1 {
  margin-top: 12px;
}
.mt-2 {
  margin-top: 24px;
}
.mt-3 {
  margin-top: 32px;
}
.pt-1 {
  padding-top: 12px;
}
.pt-2 {
  padding-top: 24px;
}
.pt-3 {
  padding-top: 32px;
}
.pt-4 {
  padding-top: 48px;
}
.pt-5 {
  padding-top: 72px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}


/* 2. Typography */

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* 3. Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  box-shadow: 0px 0px 24px -6px rgba(0, 0, 0, 0.2);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  width: 160px;
  height: 60px;
}

.nav ul{
  display: flex;
}

/* -- Search */
.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#search {
  width: 100%;
  padding: 6px 40px 6px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

#search:focus {
  border-color: #8b8a8a;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
  color: #888;
}

.search-btn:hover .search-icon {
  color: #8b8a8a;
}

/* -- USer Icon */
.user-dropdown {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.user-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.user-icon {
  width: 24px;
  height: 24px;
  color: #555;
}

.user-btn:hover .user-icon {
  color: #4CAF50;
}

.dropdown-content {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;

  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: visibility 0s, opacity 0.3s, transform 0.3s;
}

.dropdown-content a {
  color: #555;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.user-dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

/* 4. Grid */

.grid-container {
  display: grid;
  gap: 1.5rem;

  grid-template-columns: 1fr;
}

/* 2 columns on tablets */
@media (min-width: 641px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3 columns on medium screens */
@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 4 columns on large screens */
@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.grid-item {
  width: 100%;
  padding-bottom: 75%;
  background: #ccc;
}


/* Footer */

.footer {
  background: #ccc;
  color: white;
  text-align: center;
  padding: 1rem;
}